.Board {
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image:
        linear-gradient(
            #333 1px,
            transparent 1px),
        linear-gradient(
            90deg,
            #333 1px,
             transparent 1px);
    border: 5px solid white;
}

.Board.ActivePlayer {
    border: 5px solid blue;
}

/* .Board.NotYourTurn {
    cursor: not-allowed;
} */

.Cell {
    position: absolute;
}

.Cell.Unknown {
    background: #ccc;
}

.Cell.Hit {
    background: #f00;
    cursor: not-allowed;
}

.Cell.Miss {
    background: #0f0;
    cursor: not-allowed;
}
